<h1>Dokumenty</h1>

<% if flash[:status] == "invalid" %>
  <p><span class="error_box"><%= flash[:notice] %></span></p>
<% end %>

  <div id="sidebar">
    <h3>Informácia:</h3>
    Podporované formáty sú:
    <ul>
      <li>.zip</li>
      <li>.rar</li>
      <li>.tar</li>
      <li>.gz</li>
    </ul>
  </div>

Vložte skomprimovaný balík obsahujúci tieto overené dokumenty:
<ul>
  <li>Podpísaná spoločenská zmluva</li>
  <li>Podpisový vzor konateľov</li>
  <li>Nájomná zmluva alebo list vlastníctva pre sídlo s.r.o.</li>
</ul>

<%= form_for(:zip, :url => {:controller => 'sro', :action => 'step78'}, :html => { :multipart => true }) do |f|%>
  <p><%= f.file_field :file %></p>
  <%= fields_for @sro do |srof| %>
    <%= srof.hidden_field :id, :value => @sro.id %>
  <% end %>
  <hr>
  <%= link_to "Späť", sro_step6_path(:sro_id => @sro.id) , :style => "float:left" %>
  <%= token_tag form_authenticity_token %>
  <%= f.submit "Pokračovať" , :style => "float:right",:class => "btn-next" %>
<% end %>
